Repository rafaumeu/ignitecall-app, changes with the labels that .github/labeler.yml gives for each.
All labels: components, pages, styles, api, database, lib, utils, setup, tests, documentation

fix: update project name and workflow configurations
  .github/workflows/project-automation.yml
Labels: none

fix: update project name and column names in automation workflow
  .github/workflows/project-automation.yml
Labels: none

fix: remove frozen-lockfile flag from yarn install
  .github/workflows/code-review.yml
Labels: none

fix: add image type declarations
  src/@types/image.d.ts
Labels: none

fix: update image type declarations with src property
  src/@types/image.d.ts
Labels: none

fix: organize imports and fix type issues
  src/pages/home/index.tsx
  src/pages/register/connect-calendar/index.page.tsx
  src/pages/register/index.page.tsx
  src/pages/register/time-intervals/index.page.tsx
Labels: pages

fix: correct data transformation in handleSetTimeIntervals
  src/pages/register/time-intervals/index.page.tsx
Labels: pages

chore: apply Biome formatting across all files
  biome.json
  src/@types/image.d.ts
  src/components/Calendar/index.tsx
  src/pages/_app.page.tsx
  src/pages/_document.page.tsx
  src/pages/home/components/ClaimUsernameForm/index.tsx
  src/pages/home/index.tsx
  src/pages/register/connect-calendar/index.page.tsx
  src/pages/register/time-intervals/index.page.tsx
  src/pages/register/update-profile/index.page.tsx
  src/pages/schedule/[username]/ScheduleForm/CalendarStep/index.tsx
  src/pages/schedule/[username]/ScheduleForm/CalendarStep/styles.ts
  src/pages/schedule/[username]/ScheduleForm/ConfirmStep/index.tsx
  src/pages/schedule/[username]/ScheduleForm/ConfirmStep/style.ts
  src/pages/schedule/[username]/index.page.tsx
  tsconfig.json
Labels: components, pages, styles, setup

fix: update project board automation workflow
  .github/workflows/project-automation.yml
Labels: none

docs: add CI/CD documentation and workflow configurations
  .github/workflows/ci.yml
  .github/workflows/project-automation.yml
  README.md
Labels: documentation

fix: update project automation workflow
  .github/workflows/project-automation.yml
Labels: none

perf: optimize code review workflow
  .github/workflows/code-review.yml
Labels: none

docs: fix markdown linting issues in README.md
  README.md
Labels: documentation

fix: add YAML document start and fix markdown issues
  .github/workflows/code-review.yml
  .github/workflows/labeler.yml
  .github/workflows/project-automation.yml
Labels: none

fix: adjust CI pipeline and testing setup
  .github/workflows/ci.yml
  package.json
Labels: setup

fix: update biome configuration
  biome.json
Labels: setup

style: apply biome formatting rules
  package.json
  src/components/Calendar/index.tsx
  src/lib/auth/prisma-adapter.ts
  src/lib/google.ts
  src/pages/api/auth/[...nextauth].api.ts
  src/pages/api/og/[username].tsx
  src/pages/api/users/[username]/availability.api.ts
  src/pages/api/users/[username]/blocked-dates.api.ts
  src/pages/api/users/[username]/schedule.api.ts
  src/pages/api/users/index.api.ts
  src/pages/api/users/profile.api.ts
  src/pages/api/users/time-intervals.api.ts
  src/pages/home/components/ClaimUsernameForm/index.tsx
  src/pages/register/connect-calendar/index.page.tsx
  src/pages/register/index.page.tsx
  src/pages/register/time-intervals/index.page.tsx
  src/pages/register/update-profile/index.page.tsx
  src/pages/schedule/[username]/ScheduleForm/CalendarStep/index.tsx
  src/utils/get-week-days.ts
Labels: components, pages, api, lib, utils, setup

test: add vercel badge to test workflows
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/codecov.yml
  .github/workflows/branch-protection.yml
  .github/workflows/code-rabbit.yml
  .github/workflows/codecov.yml
  .github/workflows/deploy.yml
Labels: none

feat: add project badges
  README.md
Labels: documentation

ci(workflows): add test coverage analysis
  src/.github/workflows/coverage.yml
Labels: none

docs(readme): add quality assurance badges
  README.md
Labels: documentation

build(tests): configure vitest and testing environment
  package.json
  vitest.config.ts
  yarn.lock
Labels: setup

test(home): implement test coverage for home page
  src/pages/home/components/ClaimUsernameForm.spec.tsx
  src/pages/home/home.spec.tsx
  src/tests/config/setup.ts
  src/tests/utils/test-utils.tsx
Labels: components, pages, utils

refactor(home): improve component testability
  src/pages/home/components/ClaimUsernameForm/index.tsx
  src/pages/home/index.tsx
Labels: pages

ci(workflows): update branch protection rules
  .github/workflows/branch-protection.yml
Labels: none

fix(ci): improve branch protection checks
  .github/workflows/branch-protection.yml
Labels: none

fix(ci): update code review workflow
  .github/workflows/code-review.yml
Labels: none

fix(ci): enhance coverage reporting
  .github/workflows/codecov.yml
Labels: none

fix(ci): correct CodeRabbit workflow syntax
  .github/workflows/code-rabbit.yml
Labels: none

fix(ci): improve branch protection rules
  .github/workflows/branch-protection.yml
Labels: none

docs: update project documentation
  README.md
Labels: documentation

feat(security): add security configurations
  .github/dependabot.yml
  .github/workflows/security.yml
  SECURITY.md
Labels: documentation

fix(security): remove Snyk integration temporarily
  .github/workflows/security.yml
Labels: none

feat(security): enhance security configurations
  .github/secret_scanning.yml
  .github/workflows/codeql.yml
  SECURITY.md
Labels: documentation

fix(security): enhance security workflow and fix vulnerabilities
  .github/workflows/security.yml
Labels: none

fix(deps): update dependencies and security configurations
  package.json
  yarn.lock
Labels: setup

fix(ci): update security workflow yarn installation
  .github/workflows/security.yml
Labels: none

fix(deps): update vulnerable dependencies
  package.json
  yarn.lock
Labels: setup

fix(deps): atualiza dependências e workflow de segurança
  .github/workflows/security.yml
  package.json
  yarn.lock
Labels: setup

feat(ci): add test analytics integration
  .github/workflows/coverage.yml
  package.json
Labels: setup

.github/labeler.yml:

# Frontend
components:
  - "src/components/**/*"
  - "**/components/*"

pages:
  - "src/pages/**/*"
  - "**/pages/*"

styles:
  - "src/styles/**/*"
  - "**/styles.ts"
  - "**/style.ts"

# Backend
api:
  - "src/pages/api/**/*"
  - "**/api/*"

database:
  - "prisma/**/*"
  - "**/prisma/*"
  - "**/schema.prisma"

# Core
lib:
  - "src/lib/**/*"
  - "**/lib/*"

utils:
  - "src/utils/**/*"
  - "**/utils/*"

# Config
setup:
  - "**/package.json"
  - "**/tsconfig.json"
  - "**/biome.json"
  - "**/.env.example"
  - "**/docker-compose.yml"

tests:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/*"

documentation:
  - "**/*.md"
  - "**/docs/*"
  - "**/README.md"
