Repository rafaumeu/ignitecall-app, changes with the labels that .github/labeler.yml gives for each.
All labels: components, pages, styles, api, database, lib, utils, setup, tests, documentation

fix(ci): adjust security and coverage workflows
  .github/workflows/coverage.yml
  .github/workflows/security.yml
  package.json
  yarn.lock
Labels: setup

fix(ci): remove unnecessary yarn dedupe command
  .github/workflows/coverage.yml
  .github/workflows/security.yml
Labels: none

fix(ci): adjust workflow conditions and dependencies
  .github/workflows/deploy.yml
  .github/workflows/security.yml
Labels: none

chore: add screenshots directory
  screenshots/.gitkeep
Labels: none

docs: fix clone URL, add live demo link and screenshots section
  README.md
Labels: documentation

chore: bump Next.js 15.1.6 → 15.5.15 (CVE-2025-66478)
  package.json
Labels: setup

feat: add Vercel Analytics
  package-lock.json
  package.json
  src/pages/_app.page.tsx
  yarn.lock
Labels: pages, setup

feat: add complete SEO — OG, canonical, robots, sitemap, enhanced meta
  package-lock.json
  public/robots.txt
  public/sitemap.xml
  src/pages/_app.page.tsx
  yarn.lock
Labels: pages

docs: add capsule-render header and footer
  README.md
Labels: documentation

feat: add booking analytics dashboard
  biome.json
  src/pages/api/users/metrics.api.ts
  src/pages/register/dashboard/index.page.tsx
  src/pages/register/dashboard/styles.ts
  src/pages/register/update-profile/index.page.tsx
Labels: pages, styles, api, setup

feat: add booking analytics dashboard (#78)
  biome.json
  src/pages/api/users/metrics.api.ts
  src/pages/register/dashboard/index.page.tsx
  src/pages/register/dashboard/styles.ts
  src/pages/register/update-profile/index.page.tsx
Labels: pages, styles, api, setup

ci: add standard dependabot configuration
  .github/dependabot.yml
Labels: none

fix: upgrade vitest to v3 and update CI workflows
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/coverage.yml
  package.json
  yarn.lock
Labels: setup

fix: upgrade vitest to v3 and update CI workflows (#79)
  .github/workflows/ci.yml
  .github/workflows/codecov.yml
  .github/workflows/coverage.yml
  package.json
  yarn.lock
Labels: setup

docs: add 'Use this template' badge for discoverability
  README.md
Labels: documentation

feat(seo): add author metadata and rel=me links
  src/pages/_document.page.tsx
Labels: pages

feat(seo): add author metadata and rel=me links (#95)
  src/pages/_document.page.tsx
Labels: pages

fix: update template badge color to gold (#FFCA28)
  README.md
Labels: documentation

fix: replace pink (#FF0080) with gold (#FFCA28) in header/footer
  README.md
Labels: documentation

fix: convert template badge to HTML and fix capsule-render encoding
  README.md
Labels: documentation

fix: convert markdown badges to HTML for proper rendering in GitHub
  README.md
Labels: documentation

docs: add live screenshot to README
  README.md
  docs/screenshot.png
Labels: documentation

docs: update screenshots — desktop 1440x900 + mobile 375x812
  docs/screenshot-mobile.png
  docs/screenshot.png
Labels: documentation

feat: add OpenAPI spec + Swagger UI + Orval client
  openapi.json
  orval.config.ts
  package.json
  src/lib/api/axios-instance.ts
  src/lib/api/ignitecall-client.ts
  src/pages/api/docs/json.api.ts
  src/pages/docs/index.page.tsx
  yarn.lock
Labels: pages, api, lib, setup, documentation

docs: add API documentation section to README
  README.md
Labels: documentation

fix: remove invalid twitter title/description props (pre-existing build error)
  src/pages/_app.page.tsx
Labels: pages

fix: add .yarnrc to ignore engine checks (orval needs Node 22, CI uses 20)
  .yarnrc
Labels: none

feat: OpenAPI spec + Swagger UI + Orval typed client (#96)
  .yarnrc
  README.md
  openapi.json
  orval.config.ts
  package.json
  src/lib/api/axios-instance.ts
  src/lib/api/ignitecall-client.ts
  src/pages/_app.page.tsx
  src/pages/api/docs/json.api.ts
  src/pages/docs/index.page.tsx
  yarn.lock
Labels: pages, api, lib, setup, documentation

feat: add tech stack badges to README
  README.md
Labels: documentation

feat: add tech stack badges to README (#97)
  README.md
Labels: documentation

feat: add OpenAPI spec with Swagger UI
  .npmrc
  package-lock.json
  package.json
  public/openapi.yaml
  src/pages/_document.page.tsx
  src/pages/api/docs/json.api.ts
  src/pages/api/docs/ui.api.ts
  src/pages/docs.tsx
Labels: pages, api, setup, documentation

fix: remove package-lock.json, use yarn.lock only
  package-lock.json
  yarn.lock
Labels: none

feat: add OpenAPI spec with interactive docs (#98)
  .npmrc
  package-lock.json
  package.json
  public/openapi.yaml
  src/pages/_document.page.tsx
  src/pages/api/docs/json.api.ts
  src/pages/api/docs/ui.api.ts
  src/pages/docs.tsx
  yarn.lock
Labels: pages, api, setup, documentation

ci: add DevOps security workflows
  .github/dependabot.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  SECURITY.md
Labels: documentation

ci: add DevOps security workflows (#99)
  .github/dependabot.yml
  .github/workflows/security.yml
  .github/workflows/semgrep.yml
  SECURITY.md
Labels: documentation

fix: clean up README badge layout and fix screenshot reference
  README.md
Labels: documentation

fix: restore clean README with proper badge layout
  README.md
Labels: documentation

docs: remove emoji from heading, fix duplicate H1
  README.md
Labels: documentation

docs: fix markdown-in-HTML rendering — add blank lines around badge links
  README.md
Labels: documentation

docs: convert loose badges to table layout, remove emojis from headings
  README.md
Labels: documentation

.github/labeler.yml:

# Frontend
components:
  - "src/components/**/*"
  - "**/components/*"

pages:
  - "src/pages/**/*"
  - "**/pages/*"

styles:
  - "src/styles/**/*"
  - "**/styles.ts"
  - "**/style.ts"

# Backend
api:
  - "src/pages/api/**/*"
  - "**/api/*"

database:
  - "prisma/**/*"
  - "**/prisma/*"
  - "**/schema.prisma"

# Core
lib:
  - "src/lib/**/*"
  - "**/lib/*"

utils:
  - "src/utils/**/*"
  - "**/utils/*"

# Config
setup:
  - "**/package.json"
  - "**/tsconfig.json"
  - "**/biome.json"
  - "**/.env.example"
  - "**/docker-compose.yml"

tests:
  - "**/*.spec.ts"
  - "**/*.test.ts"
  - "**/__tests__/*"

documentation:
  - "**/*.md"
  - "**/docs/*"
  - "**/README.md"
